@{
    Page.Title = "Roberts PCGuide - Products";
    Layout = "~/Shared/_Layout1.cshtml";
}
<html lang="en">
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap etc -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!-- CSS länkar -->

    <link rel="stylesheet" type="text/css" href="positive.css" />

    <script src="~/ThemeChanger.js"></script>
</head>
<body>
    <div class="cont1">
        <div class="container" style="min-height: 80vh;">
            <div class="row">

                <!-- CARDS -->
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="../KodTester/Images/GPU/ASRock_Radeon_VII_16_GB_Phantom_Gaming_X_Video_Card-removebg-preview.png" style="width: 100px;" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit.
                            </p>
                            <a href="#" class="btn btn-primary">Länk</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="../KodTester/Images/GPU/asus-geforce-rtx-3080-10gb-rog-strix-removebg-preview.png" style="width: 100px;" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit.
                            </p>
                            <a href="#" class="btn btn-primary">Länk</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="../KodTester/Images/GPU/Asus_GeForce_RTX_2080_Ti_11_GB_ROG_Strix_Gaming_OC_Video_Card-removebg-preview.png" style="width: 100px;" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit.
                            </p>
                            <a href="#" class="btn btn-primary">Länk</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>