@{
    Page.Title = "Roberts PCGuide - About";
    Layout = "~/Shared/_Layout1.cshtml";
}
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="positive.css" />

    <script src="~/ThemeChanger.js"></script>
</head>
<body>


    <div class="cont1">

        <div class="container" style="min-height: 80vh; animation: dropTop 1s ease;">
            <div class="row">
                <h2 class="intro-text">About us:</h2>
                <p class="second-text">
                    Here on Roberts PC-Guide you can find the best and most reliable source of cumputer components.
                    Roberts PC-Guide is your best go-to place when you need new equipment for your setup.
                    You can find us on the following websites for direct contact and technical support:
                </p>
            </div>
            <div class="row">
                <div class="c-img">
                    <a href="http://Facebook.com"><img class="about-img" src="~/Img/Social/facebooklogo.png"/></a>
                    <a href="http://instagram.com"><img class="about-img" src="~/Img/Social/Instagramlogo.png"/></a>
                    <a href="http://reddit.com"><img class="about-img" src="~/Img/Social/redditlogo.png"/></a>
                    <a href="http://twitter.com"><img class="about-img" src="~/Img/Social/twitterlogo.png"/></a>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>