@{
    <!-- Titel + link to layout -->
    Page.Title = "Roberts PCGuide - Contact";
    Layout = "~/Shared/_Layout1.cshtml";
}

@{
    <!-- Variables and validations to forms -->
    var placeholderName = "Your name";
    var placeholderEmail = "Your email";
    var placeholderSubject = "Subject";
    var placeholderMessage = "Your message";

    var nameVar = Request["name1"];
    var emailVar = Request["email1"];
    var subjectVar = Request["subject1"];
    var messageVar = Request["message1"];

    Validation.Add("name1", Validator.Required(
        "Please fill in your name"), Validator.StringLength(20, 2,
        "Needs to be between 2 and 20 letters long"
        ));

    Validation.Add("email1", Validator.Required(
        "Please fill in your email"), Validator.StringLength(100, 2,
        "Needs to be between 2 and 100 letters long"
        ));

    Validation.Add("subject1", Validator.Required(
        "Please fill in your subject"), Validator.StringLength(30, 2,
        "Needs to be between 2 and 30 letters long"
        ));

    Validation.Add("message1", Validator.Required(
        "Please fill in your message"), Validator.StringLength(500, 2,
        "Needs to be between 2 and 500 letters long"
        ));
}

@{
    <!-- Gives error message if you forgot something -->
    if (IsPost && nameVar.IsEmpty() && emailVar.IsEmpty() && subjectVar.IsEmpty() && messageVar.IsEmpty())
    {
        Validation.AddFormError("Please fill in the form before continuing");
    }
}

<html lang="en">
<head>
    <!-- Theme Changer CSS -->
    <link rel="stylesheet" type="text/css" href="positive.css" />
</head>
<body>
    <div class="cont1">
        <h2 class="intro-text padding-top">Contact us</h2>

        @{<br />
            <!-- This is alert div that appears
            if you have missed something-->
            if (IsPost)
            {
                if (nameVar.IsEmpty())
                {
                    placeholderName = nameVar;

                    <div class="col-6" style="margin: auto; text-align: center; font-family: Fontin">
                        <div class="alert alert-danger" role="alert">
                            <p>Please fill in your name</p>
                        </div>
                    </div>
                }
                if (emailVar.IsEmpty())
                {
                    placeholderEmail = emailVar;

                    <div class="col-6" style="margin: auto; text-align: center; font-family: Fontin">
                        <div class="alert alert-danger" role="alert">
                            <p>Please fill in your email</p>
                        </div>
                    </div>
                }
                if (subjectVar.IsEmpty())
                {
                    placeholderSubject = subjectVar;

                    <div class="col-6" style="margin: auto; text-align: center; font-family: Fontin">
                        <div class="alert alert-danger" role="alert">
                            <p>Please fill in your subject</p>
                        </div>
                    </div>
                }
                if (messageVar.IsEmpty())
                {
                    placeholderMessage = messageVar;

                    <div class="col-6" style="margin: auto; text-align: center; font-family: Fontin">
                        <div class="alert alert-danger" role="alert">
                            <p>Please fill in your message</p>
                        </div>
                    </div>
                }
                else
                {
                    <!-- This one says that everything is fine and a message has been sent -->
                    <div class="col-6" style="margin: auto; text-align: center; font-family: Fontin">
                        <div class="alert alert-primary dropShadow" style="background-color:#48B4E2 !important; border-color:#1E4B7B; color: #333333;" role="alert">
                            Thank you! Your message has been sent and recived to us!
                        </div><br />
                    </div>
                }
            }
        }
        <div class="container" style="min-height: 80vh; animation: dropTop 1s ease;">
            <div class="row">

                <section class="col-12">

                    <div class="row">
                        <p class="second-text">
                            Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
                            a matter of hours to help you.
                        </p>
                        <div class="col-md-9 mb-md-0 mb-5">
                            <form id="contact-form" method="POST" action="~/contact.cshtml" style="font-family:Fontin">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="md-form mb-0 div-white">
                                            <!--FIRST NAME-->
                                            <label for="name">Name:</label>
                                            <input type="text" id="name" name="name1" class="form-control">
                                            @Html.ValidationMessage("name")
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="md-form mb-0 div-white">
                                            <!--EMAIL-->
                                            <label for="email">Email:</label>
                                            <input type="email" id="email" name="email1" class="form-control">
                                            @Html.ValidationMessage("email")
                                        </div>
                                    </div>
                                </div><br />

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form mb-0 div-white">
                                            <!--SUBJECT-->
                                            <label for="subject" class="">Subject:</label>
                                            <input type="text" id="subject" name="subject1" class="form-control" maxlength="30">
                                            @Html.ValidationMessage("subject")
                                        </div>
                                    </div>
                                </div><br />

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form div-white">
                                            <!--MESSAGE-->
                                            <label for="message">Message:</label>
                                            <textarea type="text" id="message" name="message1" rows="3" class="form-control md-textarea" maxlength="500"></textarea>
                                            @Html.ValidationMessage("message")
                                        </div>
                                    </div>
                                </div><br />

                                <div class="text-center text-md-left">
                                    <!--SUBMIT-->
                                    <input type="submit" class="btn btn-primary" value="Submit" />
                                </div>
                            </form>
                        </div>

                        <!-- Stylish icons with information under them -->
                        <div class="col-md-3 text-center" style="font-family:Fontin">
                            <ul class="list-unstyled mb-0">
                                <li class="div-white">
                                    <i class="fas fa-map-marker-alt fa-2x"></i>
                                    <p>Jönköping, 55594, Sweden</p>
                                </li>

                                <li class="div-white">
                                    <i class="fas fa-phone mt-4 fa-2x"></i>
                                    <p>+123-1234567</p>
                                </li>

                                <li class="div-white">
                                    <i class="fas fa-envelope mt-4 fa-2x"></i>
                                    <p>RobertsPCGuide@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>