@{
    Page.Title = "Roberts PCGuide - Gaming Gadgets";
    Layout = "~/Shared/_Layout1.cshtml";
}
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="positive.css" />

    <script src="~/ThemeChanger.js"></script>
</head>
<body>


    <div class="cont1">

        <div class="container" style="min-height: 80vh;">
            <div class="row">

            </div>
        </div>
    </div>
</body>
</html>