@{
    Page.Title = "Roberts PCGuide - PC Partpicker";
    Layout = "~/Shared/_Layout1.cshtml";
}
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="positive.css" />

    <script src="~/ThemeChanger.js"></script>
</head>
<body>
    

    <div class="cont1">
        
        <div class="container" style="min-height: 80vh;">
            <div class="row">
                <h1 class="intro-text">Here you will be able to chose parts for your new pc</h1>
                <!-- CARDS -->
                <div class="col-sm-4">
                    <div class="card dropShadow">
                        <img class="card-img-top c-img" src="~/Img/Delar/GPU/ASRock_Radeon_VII_16_GB_Phantom_Gaming_X_Video_Card-removebg-preview.png" style="width: 100px;" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit.
                            </p>
                            <a href="#" class="btn btn-primary">Länk</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="~/Img/Delar/GPU/asus-geforce-rtx-3080-10gb-rog-strix-removebg-preview.png" style="width: 100px;" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit.
                            </p>
                            <a href="#" class="btn btn-primary">Länk</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="~/Img/Delar/GPU/Asus_GeForce_RTX_2080_Ti_11_GB_ROG_Strix_Gaming_OC_Video_Card-removebg-preview.png" style="width: 100px;" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit.
                            </p>
                            <a href="#" class="btn btn-primary">Länk</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>