.cont2 {
    width: 100%;
    height: 10vh;
    bottom: 0;
    left: 0;
}

.topnav {
    min-height: 10vh;
    font-family: Fontin;
}
footer {
    margin-bottom: 0px !important;
    font-family: Fontin;
}
.c-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
    -webkit-filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.5));
}

.intro-text {
    font-size: 44px;
    margin: auto;
    padding: 10px;
    font-family: 'Roboto Slab';
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
    background: linear-gradient(90deg, rgba(72,180,226,1) 0%, rgba(30,75,123,1) 100%);
}
.second-text {
    font-size: 30px;
    font-family: Fontin;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
    margin:auto;
}
.text-align-center{
    text-align:center;
}

.nav-link, .card, .rotateHover, .scaleHover, .about-img {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.nav-link:hover {
    transform: translateY(-1px);
    transition: ease-in-out 0.2s;
    color: #48b4e2;
    text-shadow: 0px 0px 15px #1E4B7B;
}
.card{
    animation: slide 0.8s ease;
    font-family: Fontin;
}
.card:hover {
    transform: translateY(-5px);
    transition: ease-in-out 0.3s;
    border: 3px solid #e5e5e5;
    background-color: #262626;
    color: #e5e5e5;
}
.card-img, .about-img{
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}
.card-img{
    margin: auto;
    width: 200px !important;
}
.card-h {
    margin-left: auto;
    margin-right: auto;
}
.about-img {
    width: 3vw;
}
.scaleHover:hover, .about-img:hover {
    transition: ease-in-out 0.3s;
    transform: scale(1.1);
}
.dropShadow {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 10px 10px 0px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 10px 10px 0px rgba(0,0,0,0);
}
.jumbotron {
    margin-bottom: 0px !important;
    background: linear-gradient(90deg, rgba(72,180,226,1) 0%, rgba(30,75,123,1) 100%);
}

.list-group-item.active{
    color: #e5e5e5 !important;
    background-color: #1e4b7b !important;
}
.list-group-item {
    background-color: #333 !important;
    color: #e5e5e5 !important;
    border: 0px !important;
    -webkit-transition: ease 1s !important;
    -moz-transition: ease 1s !important;
    transition: ease 1s !important;
}
.list-group-item:hover {
    background: linear-gradient(90deg, rgba(72,180,226,1) 0%, rgba(30,75,123,1) 100%);
    transition: ease 1s;
    -webkit-transition: ease 1s !important;
    -moz-transition: ease 1s !important;
    transition: ease 1s !important;
}
.padding-top {
    padding-top: 20px;
}
.btn-primary {
    background: linear-gradient(90deg, rgba(72,180,226,1) 0%, rgba(30,75,123,1) 100%) !important;
    border: 0px !important;
    -webkit-transition: ease 1s !important;
    -moz-transition: ease 1s !important;
    transition: ease 1s !important; 
}
.btn-primary:hover {
    background: linear-gradient(90deg, rgba(223,17,17,1) 0%, rgba(125,51,45,1) 50%) !important;
    -webkit-transition: ease 1s !important;
    -moz-transition: ease 1s !important;
    transition: ease 1s !important;
}





/*Keyframes Animations*/
@keyframes drop {
    0% {
        opacity: 0%;
        transform: translateY(-80px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes slide {
    0% {
        opacity: 0%;
        transform: translateX(-100vw);
    }

    100% {
        opacity: 100%;
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0%;
        transform: translateX(100vw);
    }

    100% {
        opacity: 100%;
        transform: translateX(0px);
    }
}

@keyframes dropTop {
    0% {
        opacity: 0%;
        transform: translateY(400px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}